include README.md
include LICENSE
include VEDIS_LICENSE
include src/vedis.c
include src/vedis.h
include vedis.c
include vedis.pyx
include tests.py
recursive-include docs *

global-exclude *.pyc
global-exclude *.o
global-exclude *.so.0.1
